body {
    background-color: cadetblue;
}

p {
    text-align: justify;
    text-indent: 10px;
    text-decoration: line-through;
}

td, th, table {
    border: 1px solid black;
    table-layout: fixed;
}

td, th {
    width: max-content;
    text-align: center;
    font: bold 19px Arial
}

ol {
    list-style: georgian;
}

a:link {text-decoration: none; color: blue;}
a:visited {text-decoration: none; color: blueviolet;}
a:hover {text-decoration: overline;}
a:active {color: aqua;}

a[href*="html"] {color: red;}


a[href="grids.html"] {
    color: chocolate;
}